@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

.video-container {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
   

}

.video-container #hvideo {
    /* padding: 10px 0 0 0;*/
    height: 100vh;
    width: 100%;


}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 5px 90px;
    box-sizing: border-box;
    z-index:1;
    background-color: rgba(0, 0, 0, 0.2);
}

/* .showcase #menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5)
} */

nav #menu {
    font-size: 100%;
    letter-spacing: 4px;
    background: rgba(0, 0, 0, 0.5)
}

nav .logo,
#menu {
    
    line-height: 30px;
    z-index: 10;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

