@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:wght@300&family=Oswald:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

.video-container {
    overflow: hidden;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
   z-index: -1;

}

.video-container #hvideo {
    /* padding: 10px 0 0 0;*/
    height: 100vh;
    width: 100%;


}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
   
}

.showcase {
    
    width: 100%;
   display: inline-block;
    
   
    text-align: center;
}




nav #menu {
    font-size: 100%;
    
    letter-spacing: 4px;
    color: #ffff;
    background: rgb(255, 255, 255);
    
   
}

.showcase .logo {
    position: fixed;
    padding: 22px 20px;
    margin-left: 200px;
    font-family: 'Great Vibes', sans-serif;
    float: left;
    font-weight: bold;
    font-size: 50px;
    z-index: 10;
    color: rgb(255, 255, 255);
    
}



#menu li {
    margin-top: 25px;
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/*Have to change hovering techique*/
#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#video-text{
    font-size: 30px;
    color: white;
    padding-left: 100px;
    margin-top: 200px;
}

#video-text h1 {
    text-align: left;
}

#video-text em {
    font-size: 70%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 300px;

}

#main-video-text1 {
    font-size: 300%;
    font-family: 'Oswald',sans-serif;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    letter-spacing: 4px;
   
    width: 300px;
    height: 300px;
    padding-top: 50px;
    padding-left: 10px;
    background-color: rgba(255,255,255,1);
    bottom: 30px;
    left: 50%;
    
    background: url('../images/malaga-home.jpg') no-repeat center center;
    
    opacity: 0.8;
}

#main-video-text1 a {
    text-decoration: none;
    color:aliceblue;
}



#main-video-text2 {
    font-size: 300%;
    font-family: 'Oswald',sans-serif;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    letter-spacing: 4px;
    width: 300px;
    height: 300px;
    padding-top: 50px;
    padding-left: 10px;
    left: 450px;
    background-color: rgba(255,255,255,1);
    bottom: 30px;
    
    /* position: absolute;*/
    background: url('../images/mallorca-home.jpg') no-repeat center center;
    opacity: 0.8;
}

#main-video-text2 a {
    text-decoration: none;
    color:aliceblue;
}


#main-video-text3 {
    font-size: 300%;
    font-family: 'Oswald',sans-serif;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    letter-spacing: 4px;
    width: 300px;
    height: 300px;
    padding-top: 50px;
    padding-left: 10px;
    background-color: rgba(255,255,255,1);
    bottom: 30px;

    right: 450px;
   /* position: absolute; */
    background: url('../images/barcelona.jpg') no-repeat center center;
    opacity: 0.8;
}

#main-video-text3 a {
    text-decoration: none;
    color:aliceblue;
}

#main-video-text4 {
    font-size: 300%;
    color: rgb(255, 255, 255);
    font-family:'Oswald' ,sans-serif;
    border-radius: 20px;
    letter-spacing: 4px;
    width: 300px;
    height: 300px;
    padding-top: 50px;
    padding-left: 10px;
    background-color: rgba(255,255,255,1);
    bottom: 30px;
    right: 50px;
    
    /* position: absolute; */
    background: url('../images/spain-madrid-gebouw.jpg') no-repeat center center;
    opacity: 0.8;
}

#main-video-text4 a {
    text-decoration: none;
    color:aliceblue;
}

#main-video-text1, #main-video-text2, #main-video-text3, #main-video-text4 {
    margin: 20px;
}

.info-body{
    display: flex;
    background-color: #ffff;
    flex-wrap:wrap;
    width: 100%;
   
    padding-top: 20px;
    align-items: center;
    justify-items: center;

}

.slider {
    display: flex;
    flex-direction: row;
    width:100%;
    text-align: center;
 
}

.slider-info {
    
    margin: 0 80px 0 80px;
    
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.4);

}

.desc-body {
    background-color: white;
   
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    
}

.homepara {
    width: 70%;
    background-color: rgba(255,255, 255, 1);
    
    clear:both;
    
    
}

.homepara p {
    width:90%;
    text-align: left;
    margin-left: 100px;
}



.desc-body .trip-image img{
    width:50%;
    margin-left:50px ;
    height: 250px;
    
    border-radius: 50px;
    
}

.map-wrap{
    
}


.footer-items{
    text-align: center;
    background-color: rgba(3, 3, 3, 0.7);
    
}

.footer-items > li{
    display: inline;
}

.footer-items i {
    font-size: 180%;
    margin: 2%;
    padding: 3%;
    columns: #3a3a3a;
    color: white;
}

#contactform a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    
}

/*Media Queries for Main Page*/

@media screen and (max-width:1200px) {
    .showcase {
        width: 100%;
        height: 1200px;
        margin: 0 auto;
    }

    .showcase > div {
        clear: both;
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0 ;
    }


    #main-video-text1 {
        
        float:left;
        padding:0;
    }

    #main-video-text2 {
        
        float:left;
        padding:0;
    }

    #main-video-text3 {
      
        float:left;
        padding:0;
    }

    #main-video-text4 {
      
        float:left;
        padding:0;
    }

}


/*Destiantions CSS*/

#navdest {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 1);
    z-index: 2;
   
}

.destination {
    height: 600px;
    width:100%;
    display: flex;
    
    display:inline-block;
    
}

.destination .logo {
    position: fixed;
    padding: 22px 20px;
    margin-left: 200px;
    font-family: 'Great Vibes', sans-serif;
    float: left;
    font-weight: bold;
    font-size: 50px;
    z-index: 10;
    color: white;
    
}

.malaga-text{
    
    height:600px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 200px 0 200px; 
    display: block;
    align-items: center;
    justify-content: center;
  
    padding-top: 120px;
}

.malaga-text > h2,h3,p {
    text-align: left;
}

.malaga-text .delrey-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width:1000px;
}

.malaga-text > ul {
    margin: 20px ; 

}
figcaption {
text-align: center;
}

.malaga-text .mallorca-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    width:1000px;
}


/*Contact Us*/




.contact .logo {
    position: fixed;
    padding: 22px 20px;
    margin-left: 200px;
    font-family: 'Great Vibes', sans-serif;
    float: left;
    font-weight: bold;
    font-size: 50px;
    z-index: 100;
    color: white;
}


.contact-clean {
    background: url('../images/playa-cu.jpg') no-repeat center center;
    background-size:cover;
    padding:150px 0;
  }
  
  @media (max-width:767px) {
    .contact-clean {
      padding:20px 0;
    }
  }
  
  .contact-clean form {
    padding:40px;
    border-radius:4px;
    color:#505e6c;
    box-shadow:1px 1px 5px rgba(0,0,0,0.1);
    max-width:480px;
    width:90%;
    margin:0 auto;
    background-color: rgb(1, 17, 1);
   
  }
  
  @media (max-width:767px) {
    .contact-clean form {
      padding:30px;
    }
  }
  
  .contact-clean h2 {
    margin-top:5px;
    font-weight:bold;
    font-size:28px;
    margin-bottom:36px;
    color:white;
  }
  
  .contact-clean .form-group:last-child {
    margin-bottom:5px;
  }
  
  .contact-clean form .form-control {
    background:#fff;
    border-radius:2px;
    box-shadow:1px 1px 1px rgba(0,0,0,0.5);
    outline:none;
    color:inherit;
    padding-left:12px;
    height:42px;
  }
  
  .contact-clean form .form-control:focus {
    border:1px solid #b2b2b2;
  }
  
  .contact-clean form textarea.form-control {
    min-height:100px;
    max-height:260px;
    padding-top:10px;
    resize:vertical;
  }
  
  .contact-clean form .btn {
    padding:16px 32px;
    border:none;
    background:none;
    box-shadow:none;
    text-shadow:none;
    opacity:0.9;
    text-transform:uppercase;
    font-weight:bold;
    font-size:13px;
    letter-spacing:0.4px;
    line-height:1;
    outline:none !important;
  }
  
  .contact-clean form .btn:hover {
    opacity:1;
  }
  
  .contact-clean form .btn:active {
    transform:translateY(1px);
  }
  
  .contact-clean form .btn-primary {
    background-color:#055ada !important;
    margin-top:15px;
    color:#fff;
  }
  
  

